@import "tailwindcss";

:root {
  --background: #F8FAFC;
  --foreground: #0F0F0F;
  --font-sans: var(--font-dmsans);
  --font-serif: var(--font-playfair);
  --primary-color: #C084FC;
  --primary-color-hover: #c690fc;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-dmsans);
  --font-serif: var(--font-playfair);
  --primary-color: var(--primary-color);
  --primary-color-hover: var(--primary-color-hover);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-dmsans), sans-serif;
}
